# TMDB API Configuration
# Get your API Read Access Token from https://www.themoviedb.org/settings/api
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwYzdmZDg0YzA1NjkwYzBhNzc0ZTBmZGRjMWU4MjE5MyIsIm5iZiI6MTc2MDg4NDU0NS44NDgsInN1YiI6IjY4ZjRmNzQxYjY5NTY1OGM1OWY5OWUyOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.3ZZn7XUPEUTWNAU4-s_GigZF5toH5D4pI3sfa08jFKc
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p